.itemListContainer {
    display: flex;
    /* Activa Flexbox */
    flex-wrap: wrap;
    /* Permite que los items se ajusten cuando no hay suficiente espacio */
    justify-content: space-around;
    /* Distribuye el espacio entre los items */
    gap: 20px;
    /* Espacio entre las tarjetas */
    padding: 20px;
}


.item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}