.container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh; /* Asegúrate de tener esto si querés que esté centrado verticalmente */
}


.title{
    text-align: center;
    font-size: 30px;
}

.error {
    color: red;
}

