
.container{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.error {
    color: red;
}

