 .cardContainer {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
 }

 .cardStyles {
     display: flex;
     flex-direction: row;
     width: 70%;
     max-width: 800px;
     border-radius: 12px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
     overflow: hidden;
 }

 .card {
     flex: 2;
     padding: 20px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }

 .cardImage{
    flex: 1;
    overflow: hidden;
 }

 .img {
     margin-top: 10px;
     width: 100%;
     object-fit: contain;
 
 }

 .contador {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
     margin-bottom: 15px;
 }

 .botones {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 p {
     margin: 10px;
 }

 .title{
    font-size: 1.5rem;
    font-weight: bold;
 }

 @media screen and (max-width: 700px) {
    .cardStyles {
        display: flex;
        flex-direction: column;
        width: 80%;
        
    }
 
    /*funciona para la imagen*/
    .cardImage, .card, .contador{ 
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
 }

@media screen and (max-width: 500px) {
    .img {
        margin-top: 10px;
        width: 150px;
        object-fit: cover;
    }
    .card{
        padding: 1px;
    }

    .title{
        font-size: 16px;
    }
}