
.cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerSpiner { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh; /* Asegúrate de tener esto si querés que esté centrado verticalmente */
}
