.nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(161, 161, 161, 0.555);
  font-family: sans-serif;
  font-weight: bold;
  color: black !important;
  margin: 0 auto;
  margin-bottom: 14px;
}

.menu {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

/* Estiliza los enlaces del menú */
.menuLink {
  font-size: 14px;
  color: black ;
  text-decoration: none;
  border-radius: 20px;

}

/* Hover en los enlaces y en el dropdown */
.menuLink:hover, 
#nav-dropdown .dropdown-toggle:hover {
  color: white !important;
  background-color: black !important;
  border-radius: 20px;
}

/* Asegura que los ítems dentro del dropdown tengan el mismo estilo 
#nav-dropdown .dropdown-item {
  font-size: 16px;
  color: black !important;
  background-color: white !important; 
  text-decoration: none;
  border-radius: 20px;
}
*/
/* Hover en los ítems del dropdown  
#nav-dropdown .dropdown-item:hover {
  background-color: black !important;
  color: white !important;
}

*/


@media screen and (max-width: 900px) {
  .nav {
    flex-direction: column;
    /* Cambia a columna en dispositivos pequeños */
    align-items: flex-start;
    /* Alinea al principio */
    padding: 1rem;
  }

  .menu {
    margin-top: 1rem;
    /* Espacio entre el logo y el menú */
    width: 100%;
    /* Ocupa todo el ancho disponible */
    justify-content: space-around;
    /* Distribuye los elementos */
  }

  .menuLink {
    font-size: 1rem;
    /* Tamaño de fuente más pequeño */
  }

  .logo {
    font-size: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .nav {
    flex-direction: column;
    /* Cambia a columna en dispositivos pequeños */
    align-items: flex-start;
    /* Alinea al principio */
    padding: 1rem;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  .menu {

    width: 100%;
    /* Ocupa todo el ancho disponible */
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  .menuLink {
    font-size: 1rem;
    /* Tamaño de fuente más pequeño */
  }

  .logo {
    font-size: 10px;

  }
}